{
  "presets": ["env", "stage-2", "react"],
  "plugins": [
    "transform-decorators-legacy",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ],
    ["transform-runtime"],
    "react-hot-loader/babel"
  ]
}
