{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": { "jsx": true }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "no-console": 1,
    "no-debugger": 1,
    "no-unused-vars": 1,
    "object-curly-newline": 0,
    "no-param-reassign": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "jsx-a11y/aria-props": 2,
    "jsx-a11y/heading-has-content": 0,
    "jsx-a11y/mouse-events-have-key-events": 2,
    "jsx-a11y/role-has-required-aria-props": 2,
    "jsx-a11y/role-supports-aria-props": 2,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/alt-text": 1,
    "max-len": 0,
    "newline-per-chained-call": 0,
    "no-confusing-arrow": 0,
    "no-use-before-define": 1,
    "no-undef": 1,
    "prefer-template": 2,
    "class-methods-use-this": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/require-extension": 0,
    "react/self-closing-comp": 0,
    "react/destructuring-assignment": 0,
    "react/jsx-one-expression-per-line": 0,
    "require-yield": 0,
    "import/no-webpack-loader-syntax": 0,
    "generator-star-spacing": 0,
    "prefer-destructuring": 1,
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"],
    "no-await-in-loop": 0,
    "react/no-unused-state": 1,
    "no-underscore-dangle": 0
  },
  "globals": {
    "_": true,
    "moment": true
  }
}
